*{
    cursor: pointer;
}
.scheduleTitle{
    margin-left: 40px;
}
.month{
    color: white;
    padding-top: 50px;
    padding-bottom: 55px;
    text-align: center;
}
.date{
    font-size: 25px;
    text-align: center;
}
.day{
    font-size: 25px;
    text-align: center;
}
.annualDate{
    font-size: 25px;
    text-align: center;
    color: yellow;
}
.featuredDate{
    font-size: 25px;
    text-align: center;
    color: green;

}
.registeredDate{
    font-size: 25px;
    text-align: center;
    color: blue;
}
.mandatoryDate{
    font-size: 25px;
    text-align: center;
    color: red;
}
.temp .theEvent{
    text-align: center;
    display: none;
    font-size: 20px;
    position: absolute;
    width: fit-content;
    color: black;
    background-color: white;
}
.temp:hover .theEvent{
    cursor: pointer;
    display: block;
}