.categoriesTitle{
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    width: 100%;
    margin-top: 25px;
  }

.artsCategory{
    padding: 9px;
    font-size: 15px;
    width: 80px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
}
.sportsCategory{
    padding: 9px;
    font-size: 15px;
    width: 80px;
    background-color: rgb(1, 114, 26);
    text-align: center;
    border-radius: 10px;
    margin-left: 2px;
}
.codingCategory{
    padding: 10px;
    font-size: 15px;
    width: 80px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 10px;
}
.eventsCategory{
    padding: 9px;
    font-size: 15px;
    width: 80px;
    background-color: rgba(255, 251, 0, 0.678);
    text-align: center;
    border-radius: 10px;
}
.categoriesRow{
    width: 100%;
}