@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Syncopate:wght@400;700&display=swap');

.Appname{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin: 10px;
  position: sticky;
}
img{
  width: 350px;
  height: 400px;
}
.AppLanding{
  background-image: url('./backg.jpg');
  background-repeat: no-repeat;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-size: 100%;
  height: 700px;
}
body{
  height: 100px;
}
.navButton{
    padding: 15px;
    width: 90px;
    display: inline;
    margin: 20px;
}
.navButtons{
    align-self: center;
    margin-left: 100px;
}
.jumbotronInfo{
  color: whitesmoke;
}
.getStarted{
  font-size: 25px;
  margin-left: 20px;
  color: white; 
}
.loginDirectly{
  color: white !important;
  margin-top: 160px;
  font-size: 18px;
  margin-left: 23px;
}
.loginDirectly a{
  color: white !important;
}